window {
    margin: 0px;
    border: 2px solid #478487;
    background-color: #282828;
    border-radius: 10px;
    font-family: "monospace";
    font-size: 16px;
}

#input {
    margin: 5px;
    border: none;
    color: #ebdbb2;
    background-color: #3c3836;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
}

#entry:selected {
    background-color: #FABD2F;
}

#text:selected {
    color: #282828;
}
